.container{
    display: flex;
}

.input{
    width: 30px;
    border: none;
    text-align: center;
}

@media screen and (max-width: 760px) {
    .input{
        padding: 0 10px;
        font-size: 1.2em;
    }
}
