.container{
    padding: 20px 40px;
    height: fit-content;
    background: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s ease-out;
}

@media screen and (max-width: 760px) {
    .container{
        padding: 20px 20px !important;
    }
}

.container:hover{
    background: #384459;
}

.container:active{
    background: #808389;
}

.label{
    color: #fff;
    display: block;
    user-select: none;
}
